/* Importando a fonte utilizada */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap');

/* Reset CSS */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
    font-size: 16px;
    
  }

  h1, h2, h3, h4, h5, h6 {
    margin-top: 0;
  }
  
  a {
    text-decoration: none;
  }

  

  

  div > span {
    color: #F3680B;
  }

  .favorite-icon-recommended {
    font-size: 1em;
    color: #F3680B;

  }

  .favorite-icon-package {
    font-size: 1.2em;
    color: #F3680B;
  }

  .img-package {
     width: 500px;
     height: 300px;
     background-color: #F8F8F8;
  }

  

  header {
    display: flex;
    justify-content: space-around;
    background-image: url('../img/foto-capa.jpg');
    height: 18.75em;
    background-size: cover;
    background-position:  center 75%;
    background-clip: content-box;
    border-radius: 0 0 30px 30px;
    
  }

/* Botão menu do header */
  header > div >  i {
    color: #F3680B;
    font-size: 2.5em;
    margin-top: -7px;
  }

  header > div >  img {
    height: 5em;
  }

  .menu-display {
    display: flex;
    justify-content: space-between;
  }

  .menu {
    width: 9em;
    height: 9em;
    border-radius: 20px;
    box-shadow: 0px 5px 0px -3px rgba(0,0,0,0.1);
    color: #F3680B;
    background-color: #F8F8F8;
    margin-top: -40px;
    }

  .menu-icons {
    font-size: 3em;
  }

  .menu > span {
    font-size: 4em;
  }

  /* Configura a largura do corpo do conteúdo do site */

  .custom-container {
    width: 80em;
    margin: auto;
  }

  /* Configura o espaçamento dos textos que divide as seções */
  .div-margin {
    margin: 2em 0 1.5em 0;
  }  

  .card-body > div {
    font-size: 0.8em;
    background-color: #122A3E;
    width: 6em;
    text-align: center;
    color: white;
    border-radius: 25%;
    margin-bottom: 3em;
}

/* Arredondamento das bordas dos */
.custom-border {
  border-radius: 20px 20px;
  box-shadow: 0px 6px 0px -3px rgba(0,0,0,0.1);
  border-style: none;
}

/* Preenchimento da cor de fundo das divs dos pacotes de viágem */
.custom-background {
  background-color: #F8F8F8;
  border-style: none;
}

/* Altera o tamanho da imagem dos quadros dos Destinos recomendados */
  .custom-img {
    height: 14em;
  }

  /* Altera o tamanho das imagens da seção de pacotes de viagem */

  .img-fluid-custom {
    border-radius: 20px;
    width: 100%;
  }

  footer {
    padding: 80px 150px 0 100px;
    background-color: #13293E;
    border-radius: 30px 30px 0 0;
    height: 350px;
  }

 .footer_contact > div {
    color: #F3680B;
    margin-bottom: 10px ;
    font-weight: bold;
  }

  .footer_contact > p {
    margin-top: 120px;
    color: white;
    font-size: 13px;
  }

  .footer_contact > p > span {
    color: #F3680B;
  }

  .footer_suport {
    color: white;
  }

